.article-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px pink solid;
  .article-card {
    display: grid;
    grid-template-columns: 40px 300px;
    grid-template-rows: 50px 150px 30px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 350px;
    max-width: 100vw;
    max-height: 250px;
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;
    .article-card-votes {
      grid-area: 1 / 1 / 4 / 2;
      text-align: center;
    }
    .article-card-title {
      grid-area: 1 / 2 / 2 / 3;
    }
    .article-card-img {
      grid-area: 2 / 2 / 3 / 3;
      max-height: 150px;
      width: 300px;
      object-fit: cover;
    }
    .article-card-info {
      grid-area: 3 / 2 / 4 / 3;
      display: flex;
      justify-content: space-between;
    }
  }
}
.single-article {
  max-width: 100vw;
  .article-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    .single-article-votes {
      text-align: center;
    }
  }
  .single-article-img {
    max-width: 90%;
    margin: 0 auto;
  }
}
.comment-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .comment-card {
    display: grid;
    grid-template-columns: auto 40px;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    border: 1px solid red;
    padding: 5px;
    margin: 2px;
    width: 400px;
    .comment-card-body {
      grid-area: 1 / 1 / 2 / 3;
      margin: 0;
    }
    .comment-card-info {
      grid-area: 2 / 1 / 3 / 2;
      display: flex;
      justify-content: space-around;
    }
    .comment-card-votes {
      grid-area: 2 / 2 / 3 / 3;
      text-align: center;
      .comment-card-votes-text {
        margin: 0;
      }
    }
  }
}

.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .user-card {
    width: 200px;
    padding: auto;
    margin: 10px;
    .user-card-avatar {
      max-width: 100%;
      height: 100px;
    }
  }
}
